@import "./normalize.min.css";
@import './circle.css';

:root {
  --purple: #87509c;
  --dark-purple: #643a79;
  --orange: #eb7d4b;
  --mint: #17c2a4;
  --bright-yellow: #ffdd99;
  --dark-yellow: #ebcb8d;
  --pink: #d74680;
  --blue: #3c5499;
  --sky-blue: #30bae7;
  --dark-blue: #273a71;
  --gray: #e7f1f8;
  --white: #ffffff;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

body {
  background-color: lavender;
  font-family: 'Titillium Web'
}

.header {
  background-color: var(--purple);
  padding-top: 3%;
}

.header__wraper {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  width: 71%;
  height: 50px;
  transition: all 0.5s ease-in;
}

.header__navigation {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 6px;
  transition: all 0.5s ease-in;
}

.header__navigation__item {
  margin-left: 7px;
  border-radius: 5px;
  padding: 5px 15px;
}

.header__navigation__item:hover {
  background-color: #643a79;

}

.header__navigation__item:nth-child(1){
  margin: 0;
}


#menu__toggle {
  opacity: 0;
}

.hamburger-menu {
  display: none;
}

.menu__btn {
  display: none; 
  align-items: center;  
  position: absolute;
  top: 26px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: rgba(83, 48, 97, 0.5);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #85c1db;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}

.menu__box {
  transition-duration: .25s;
}

.menu__item {
  transition-duration: .25s;
}


.greeting_section {
  width: 100vw;
  height: calc(97vh - 70px);
  background-color: var(--purple);
  padding-top: 3%;
  box-sizing: border-box;
}

.greeting_section_wrapper {
  max-width: 1200px;
  margin: 0 auto;
}



.greeting_section__content {
  padding: 5% 0;
  transition: all 0.5s ease-in;
}

.content__header {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  color: #f7f3ea;
  margin: 0 auto;
  transition: all 0.5s ease-in;
  margin-bottom: 3%;
}


.greeting_section__content__button_block {
  text-align: center;
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  transition: all 0.5s ease-in;
}

.button_block_button {
  width: 293px;
  height: 70px;
  background-color: #eb7d4b;
  border-radius: 6px;
  border: none;
  border-bottom: 3px solid #c86a40;
  transition: opacity 0.5s ease-in;
  outline: none;
}

.button_block_button:hover {
  opacity: 0.4;
}

.button_block_button:active {
  transform: translateY(4px);
}


@media screen and (max-width: 991px) {
  .content__header {
    font-size: 30px;
  }

  .header__wraper {
    width: 89%;
  }


  .greeting_section__content {
    padding: 25% 0;
  }
}

@media screen and (max-width: 767px) {
  .content__header {
    font-size: 20px;

  }

  .greeting_section__header__navigation__item {
    padding-left: 10px;
  }

  .button_block_button {
    width: 200px;
    height: 70px;
  }

  .greeting_section__content {
    padding: 40% 0;
  }

  .header__navigation__item {
    display: none
  }

  .menu__btn {
    display: flex;
  }

  .hamburger-menu {
    display: unset;
  }
}

@media screen and (max-width: 575px) {
  .content__header {
    font-size: 15px;
  }



  .button_block_button {
    width: 150px;
    height: 40px;
  }


  .greeting_section__content__divbutton {
    padding: 6% 0;
  }
}

.servece_section {
  background-color: #17c2a4;
  color: #ffffff;
}

.servece_section__content {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5% 0;
  color: #ffffff;
}

.servece_section__content__header {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 3%;
  position: relative;
  transition: all 0.5s ease-in;
  border: none;
}

.servece_section__content__header::after {
  position: absolute;
  display: block;
  content: "";
  width: 70px;
  left: 50%;
  transform: translateX(-50%);
  top: 125%;
  border-top: 4px solid black;
  opacity: 0.1;
}

.servece_section__content__text {
  font-size: 18px;
  font-weight: 400;
  width: 49%;
  margin: 0 auto;
  margin-bottom: 5%;
  transition: all 0.5s ease-in;
}

.servece_section__content__pics { 
  max-width: 160px;
  max-height: 133px;
  margin: 0 auto;
}

.servece_section__content__mainblock {
  display: flex;
  flex-wrap: wrap;
}

.servece_section__content__mainblock__part {
  width: 25%;
  transition: all 0.5s ease-in;
}

.servece_section__content__mainblock__divpics {
  min-height: 138px;
}

.servece_section__content__mainblock__part__header {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10% 0;
  transition: all 0.5s ease-in;
}

.servece_section__content__mainblock__part__text {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.32px;
  width: 67%;
  margin: 0 auto;
  transition: all 0.5s ease-in;
}

@media screen and (max-width: 991px) {
  .servece_section__content__mainblock__part {
    width: 50%;
    margin-bottom: 5%;
  }

  .servece_section__content__mainblock__part__header {
    font-size: 24px;
    padding: 5% 0;
  }
}

@media screen and (max-width: 767px) {
  .servece_section__content__header {
    font-size: 30px;
  }
}

@media screen and (max-width: 575px) {
  .servece_section__content__text {
    font-size: 13px;
  }

  .servece_section__content__header {
    font-size: 20px;
  }

  .servece_section__content__mainblock__part {
    width: 100%;
    margin-bottom: 5%;
  }
}

.team_section {
  background-color: #e7f1f8;
  color: #3c4761;
  padding: 5% 0;
}

.team_section__content {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.team_section__content__header {
  font-size: 41px;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 3%;
  color: #3c4761;
  transition: all 0.5s ease-in;
  position: relative;
}

.team_section__content__header::after {
  position: absolute;
  display: block;
  content: "";
  width: 70px;
  left: 50%;
  transform: translateX(-50%);
  top: 125%;
  border-top: 4px solid black;
  opacity: 0.1;

}


.team_section__content__text {
  font-size: 19px;
  font-weight: 400;
  color: #3c4761;
  width: 55%;
  margin: 0 auto;
  margin-bottom: 5%;
}


.team_section__content__mainblock {
  display: flex;
  flex-wrap: wrap;
}

.team_section__content__mainblock__header {
  font-size: 24px;
  font-weight: 700;
  color: #27283d;
  text-transform: uppercase;
  letter-spacing: 0.48px; 
  transition: all 0.5s ease-in;
}

.team_section__content__mainblock__job {
  color: #30bae7;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  margin-bottom: 5%;
}

.team_section__content__mainblock__part {
  width: 21%;
  margin: 0 2%;
  transition: all 0.5s ease-in;
}

.team_section__content__mainblock__pics {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 10%;
}

.team_section__content__mainblock__pics > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.team_section__content__mainblock__text {
  color: #3c4761;
  font-size: 16px;
  font-weight: 300;
  min-height: 113px;
  letter-spacing: 0.32px;
  transition: all 0.5s ease-in;
}

.team_section__content__pics__social_media {
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in;
}

.social_media_onelogo {
  margin: 0 5px;
  cursor: pointer;
}

.facebook_logo {
  background-image: url(../img/facebook_logo.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.twitter_logo {
  background-image: url(../img/twitter_logo.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.linkedin_logo {
  background-image: url(../img/linkedin_logo.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.gmail_logo {
  background-image: url(../img/gmail_logo.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.social_media_onelogo > img {
  cursor: pointer;
  max-width: 40px;
}

.social_media_onelogo:hover {
  filter: contrast(0.5);
}

@media screen and (max-width: 1170px) {
  .team_section__content__mainblock__part {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 0
  }

  .team_section__content__mainblock__text {
    width: 50%;
    margin: 0 auto;
    min-height: 135px;
  }
}

@media screen and (max-width: 991px) {
  .team_section__content__mainblock__text {
    width: 70%;
    min-height: 140px;
  }
}

@media screen and (max-width: 767px) {
  .team_section__content__mainblock__text {
    min-height: 130px;
    width: 100%;
  }

  .team_section__content__header {
    font-size: 30px;
  }
}

@media screen and (max-width: 575px) {
  .team_section__content__mainblock__part {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 0
  }

  .team_section__content__mainblock__text {
    min-height: unset;
    margin-bottom: 5%;
  }

  .team_section__content__header {
    font-size: 20px;
  }

  .team_section__content__text {
    width: 90%;
  }

  .team_section__content__mainblock__text {
    width: 90%;
  }
}

.skills_section {
  background-color: #ffffff;
  color: #3c4761;
  padding: 5% 0;
}

.skills_section__content {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.skills_section__content__header {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  transition: all 0.5s ease-in;
  position: relative;
  margin-bottom: 3%;
}

.skills_section__content__header:after {
  position: absolute;
  display: block;
  content: "";
  width: 70px;
  left: 50%;
  transform: translateX(-50%);
  top: 125%;
  border-top: 4px solid black;
  opacity: 0.1;
}


.skills_section__content__text {
  font-size: 18px;
  font-weight: 400;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 7%;
  transition: all 0.5s ease-in;
}


.skills_section__content__mainblock {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.skills_section__content__mainblock__header {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}

.skills_section__content__mainblock__part {
  width: 25%;
  transition: all 0.5s ease-in;
}

.skills_section__content__mainblock__diagram {
  width: 100%;
  margin-bottom: 3%;
}

.c100 {
  font-size: 150px;
  float: none;
  margin: 0 auto;
}

@media screen and (max-width: 1170px) {
  .circle_percent {
    right: 31%;
  }
}

@media screen and (max-width: 991px) {
  .circle_percent {
    right: 25%;
  }

  .skills_section__content__mainblock__part {
    width: 50%;
    position: relative;
    margin-bottom: 5%;
  }
}


@media screen and (max-width: 575px) {
  .skills_section__content__mainblock__part {
    width: 100%;
    margin-bottom: 10%;
  }

  .skills_section__content__header {
    font-size: 30px;
  }

  .skills_section__content__text {
    width: 75%;
  }
}

.portfolio_section {
  background-color: #ffdd99;
  color: #393939;
  padding: 5% 0;
}

.portfolio_section__content {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio_section__content__header {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 3%;
  transition: all 0.5s ease-in;
}

.portfolio_section__content__header:after {
  position: absolute;
  display: block;
  content: "";
  width: 70px;
  left: 50%;
  transform: translateX(-50%);
  top: 125%;
  border-top: 4px solid black;
  opacity: 0.1;
}

.portfolio_section__content__text {
  font-size: 18px;
  font-weight: 400;
  width: 40%;
  margin: 0 auto;
  transition: all 0.5s ease-in;
  margin-bottom: 3%;
}


.portfolio_section__content__tabs {
  display: flex;
  width: 35%;
  margin: 0 auto;
  justify-content: space-around;
  transition: all 0.5s ease-in;
  margin-bottom: 3%;
}

.tabs__tab {
  font-size: 18px;
  font-weight: 400;
  width: 84px;
  height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.36px;
  background-color: #ebcb8d;
  border-radius: 5px;
  padding-top: 6px;
  cursor: pointer;
}

.notactive:hover {
  background-color: #91702d;
}

.active {
  background-color: #ffffff;
}

.portfolio_section__content__pics {
  width: 541px;
  height: 311px;
  background-image: url(../img/laptop.png);
  background-size: cover;
}

.portfolio_section__content__pics img {
  width: 411px;
  height: 256px;
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 18px;
}

.portfolio_section__content__mainblock {
  display: flex;
  flex-wrap: wrap;
}

.mainblock__part {
  width: 50%;
  transition: all 0.5s ease-in;
  margin-bottom: 4%;
}

.portfolio_section__content__mainblock__header {
  color: #393939;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.portfolio_section__content_button {
  width: 293px;
  height: 70px;
  background-color: #17c2a4;
  border-radius: 6px;
  color: #ffffff;
  border: none;
  border-bottom: 3px solid #14a58b;
  transition: opacity 0.5s ease-in;
  outline: none;
}

.portfolio_section__content_button:hover {
  opacity: 0.7;
}

.portfolio_section__content_button:active {
  transform: translateY(4px);
}

@media screen and (max-width: 1170px) {
  .mainblock__part {
    width: 100%;
    margin-bottom: 5%;
  }

  .portfolio_section__content__pics {
    margin: 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .portfolio_section__content__tabs {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .portfolio_section__content__tabs {
    width: 75%;
  }

  .portfolio_section__content_button {
    width: 200px;
    height: 70px;
  }


}

@media screen and (max-width: 575px) {
  .portfolio_section__content__tabs {
    width: 90%;
  }

  .mainblock__part {
    margin: 0 auto;
    margin-bottom: 5%;
  }

  .portfolio_section__content__text {
    width: 75%;
  }

  .portfolio_section__content__header {
    font-size: 30px;
  }

  .portfolio_section__content_button {
    width: 150px;
    height: 40px;
    font-size: 10px ;
  }

  .portfolio_section__content__pics {
    width: 300px;
    height: 173px;
  }

  .portfolio_section__content__pics img {
    width: 230px;
    height: 145px;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 9px;
  }
}

.say_about_us_section {
  background-color: #d74680;
  color: #ffffff;
  padding: 5% 0;
}

.say_about_us_section__content {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.say_about_us_section__content__header {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 3%;
  transition: all 0.5s ease-in;
}

.say_about_us_section__content__header:after {
  position: absolute;
  display: block;
  content: "";
  width: 70px;
  left: 50%;
  transform: translateX(-50%);
  top: 125%;
  border-top: 4px solid black;
  opacity: 0.1;
}


.say_about_us_section__content__text {
  font-size: 18px;
  font-weight: 400;
  width: 40%;
  margin: 0 auto;
  transition: all 0.5s ease-in;
  margin-bottom: 5%;
}


.say_about_us_section__mainblock__content__text {
  width: 60%;
  text-align: left;
  transition: all 0.5s ease-in;
}

.content__text__quote {
  font-size: 21px;
  font-style: italic;
  letter-spacing: 0.35px; 
  margin-bottom: 3%;
  min-height: 126px;
  transition: all 0.5s ease-in;
}

.content__text__autor {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.content__text__job {
  color: #ffdd99;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.36px;
}

.say_about_us_section__content__mainblock {
  display: flex;
  flex-wrap: wrap;
}

.say_about_us_section__content__mainblock__part {
  width: 50%;
  display: flex;
  margin-bottom: 5%;
  transition: all 0.5s ease-in;
}

.say_about_us_section__mainblock__content__pics {
  width: 25%;
  transition: all 0.5s ease-in;
}

.say_about_us_section__mainblock__content__pics > img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

@media screen and (max-width: 1170px) {
  .content__text__quote {
    font-size: 15px;
    min-height: 90px;
  }
}

@media screen and (max-width: 991px) {

  .say_about_us_section__content__mainblock__part {
    display: unset; 
  }

  .say_about_us_section__mainblock__content__pics {
    margin: 0 auto;
  }

  .say_about_us_section__mainblock__content__text {
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .say_about_us_section__content__header {
    font-size: 30px;
  }

}

@media screen and (max-width: 575px) {
  .say_about_us_section__content__mainblock__part {
    width: 100%;
    margin-bottom: 10%;
  }

  .say_about_us_section__content__header {
    font-size: 20px;
  }

  .content__text__quote {
    font-size: 21px;
    min-height: unset
  }
}

.get_in_touch_section {
  background-color: #3c5499;
  color: #ffffff;
}

.get_in_touch_section__content {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5% 0;
  color: #ffffff;
}

.get_in_touch_section__content__header {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 3%;
  transition: all 0.5s ease-in;
  border: none;
  position: relative;
}

.get_in_touch_section__content__header:after {
  position: absolute;
  display: block;
  content: "";
  width: 70px;
  left: 50%;
  transform: translateX(-50%);
  top: 125%;
  border-top: 4px solid black;
  opacity: 0.1;
}


.get_in_touch_section__content__text {
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto;
  margin: 5%;
  transition: all 0.5s ease-in;

}


.get_in_touch_section__content__mainblock {
  display: flex;
  flex-wrap: wrap;
}

.mainblock__name_and_email_inputs {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 2%;
}

.name_and_email_inputs__labels {
  height: 50px;
  width: 48%;
  margin-bottom: 3%;
  transition: all 0.5s ease-in;
  position: relative;
}

.users_text_input__label {
  position: relative;
  width: 100%;
}



.input__name:focus + span {
  opacity: 0;
}

.input__name:valid + span {
  display: none;
}

.input__email:focus + span {
  opacity: 0;
}

.input__email:valid + span {
  display: none;
}


.input__name, .input__email {
  background-color: #273a71;
  border: none;
  border-radius: 5px;
  width: 95%;
  height: 50px;
  padding-left: 5%;
}



.users_text {
  height: 200px;
  width: 94.5%;
  resize: vertical;
  min-height: 50px;
  background-color: #273a71;
  margin: 0 auto;
  margin-bottom: 5%;
  padding: 3%;
  padding-left: 2.5%;
  border: none;
  position: relative;
  border-radius: 5px;
}

.users_text:focus + span {
  display: none;
}

.users_text:valid + span {
  display: none;
}

.users_text::-webkit-resizer {
  background-image: url(../img/Arrow.svg);
  background-repeat: no-repeat;
}

.get_in_touch_section__content_button {
  width: 293px;
  height: 70px;
  background-color: #30bae7;
  border-radius: 6px;
  border: none;
  border-bottom: 3px solid #299ec4;
  transition: opacity 0.5s ease-in;
  outline: none;
}

.get_in_touch_section__content_button:hover {
  opacity: 0.7;
}

.get_in_touch_section__content_button:active {
  transform: translateY(4px);
}

.placeholder {
  display: inline;
  line-height: 56px;
  cursor: text;
  position: absolute;
  left: 0px;
  top: 0;
  padding-left: 5%;
  font-size: 16px;
  color: var(--white);
  opacity: 0.7;
}

.users_text_input {
  padding-left: 2.5%;
}


@media screen and (max-width: 767px) {
  .name_and_email_inputs__labels {
    width: 100%;
  }

  .users_text_input {
    padding-left: 5%;
  }

  .users_text {
    width: 92%;
    max-width: 92%;
    padding-left: 5%;
  }

  .mainblock__name_and_email_inputs{
    width: 90%;
  }
  
}

@media screen and (max-width: 575px) {
  .get_in_touch_section__content__header {
    font-size: 30px;

  }

  .get_in_touch_section__content_button {
    width: 150px;
    height: 40px;
    font-size: 10px ;
  }

  .get_in_touch_section__content__text {
    font-size: 10px;
  }
}

.footer {
  background-color: #344b8e;
  min-height: 112px;
}

.footer_content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 3% 0;
}

.footer_content__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.48px;
  margin: 0 5%;
}

.footer_content__links__item {
  width: 13%;
}

.footer_content__links > li:hover {
  color: #30bae7;
}

@media screen and (max-width: 1170px) {

}

@media screen and (max-width: 991px) {
  .footer_content__links__item {
    width: 25%;
    text-align: center;
    flex-grow: 1;
  }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
  .footer_content__links__item {
    font-size: 15px;
  }
}